<section class="card">
    <h2>Chuteiras cadastradas</h2>
    @else {
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
             </thead>

             <tbody>
                @for (chuteira of chuteiras; track chuteira.id){
                    <tr>
                    <td class="td">{{ chuteira.id }}</td>
                    <td class="td">{{ chuteira.nome }} </td>
                    <td class="td">{{ chuteira.descricao }}</td>
                    <td class="td">{{ chuteira.preco | currency: 'BRL'}}</td>
                    <td>
                        <button type="button">Editar</button>
                        <button type="button">Excluir</button>
                    </td>
                    </tr>
                }
             </tbody>
        </table>
    }
    @if(carregando) {
        <p>carregando Chuteiras...</p>
    }

    @if (chuteiras.length === 0 && !carregando){
        <p>Nenhuma chuteira cadastrada.</p>
    }
</section> 
